/*Tipografías importadas para el uso en la página web desde Google Fonts*/
@import url('https://fonts.cdnfonts.com/css/waildesh');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Questrial&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
}

/*código css para index.html*/
.section-imagen {
    background-image: url(imagen-inicio-st.png);
    background-size: cover; /* Hace que la imagen cubra todo el contenedor */
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /*Ocupa toda la pantalla*/
    margin-left: 85px; /*Deja espacio para el sidebar*/
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;   
    text-align: center;
    padding: 25px;
}

/* Fondo de pantalla completo */
.pantalla {
  margin: 0;
  padding: 0;
  background-image: url('patrones-inicio.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: sans-serif;
}

.contenedor-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 50px 20px;
}

.tarjeta {
  background-color: #f3eea8;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 30px;
  max-width: 1000px;
  width: 90%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/*Cambia el orden de la segunda tarjeta*/
.tarjeta .invertida {
  flex-direction: row-reverse;
}
.imagen {
  width: 200px;
  height: auto;
  margin: 0 20px;
  border-radius: 10px;
}

.contenido {
  flex: 1;
}

.contenido h2 {
  margin: 0 0 10px;
  font-size: 2rem;
  font-family: "waildesh", sans-serif;
  color: #df6a2d;
}

.contenido p {
  font-size: 1rem;
  max-width: 500px;
  line-height: 1.5;
}

/* -------------------- RESPONSIVE: MOVIL -------------------- */
/*se puede mejorar*/
@media screen and (max-width: 600px) {
  .section-imagen {
    height: 40vh;
    background-size: cover;
    padding: 10px;
  }
  .pantalla {
    background-size: contain;
    background-position: top;
  }
  .tarjeta {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  .imagen {
    width: 130px;
  }
  .contenido h2 {
    font-size: 1.5rem;
  }
  .contenido p {
    font-size: 0.9rem;
  }
}
/* -------------------- RESPONSIVE: TABLET -------------------- */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .section-imagen {
    height: 80vh;
    background-size: cover;
  }
  .pantalla {
    background-size: cover;
  }
  .tarjeta {
    padding: 25px;
    gap: 15px;
    margin-left: 60px;
  }
  .imagen {
    width: 180px;
  }
  .contenido h2 {
    font-size: 1.75rem;
  }
}
